{% load nav_menu %}
{% load static %}
{% load flatpages %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>We provide you with awesome upto date tutorials!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
  <nav class="blue-grey darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container"
                                          href="{% url 'tutorial:index' %}"
                                          class="brand-logo">Tutorial
      Website</a>
      {% nav_menu %}
    </div>
  </nav>
</header>

<main>
  {% block home_page_banner %}{% endblock %}
  <div class="container">
    <div class="section">
      {% block content %}{% endblock %}
    </div>
    <br><br>
  </div>
</main>

<footer class="page-footer blue-grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Stay updated about Python</h5>
        {% subscriber_form %}
      </div>
      <div class="col l6 s12 center">
        {% get_flatpages as flatpages %}
        <ul>
          {% for page in flatpages %}
            <li><a class="white-text"
                   href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © Python Guides
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
    var subscriberForm = $("#subscriber-form");
    subscriberForm.submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: subscriberForm.attr("action"),
            type: subscriberForm.attr("method"),
            data: subscriberForm.serialize(),
            statusCode: {
                200: function (html) {
                    subscriberForm.hide();
                    $("#subscriber-success").show();
                }
            }
        });
    });
</script>
</body>
</html>

